<md-card class="main-image">
  <img *ngIf="selectedImage" class="img-responsive" md-card-image src={{selectedImage.original_image}}>
  <md-card-actions>
    <i class="material-icons md-36">rotate_left</i>
    <i class="material-icons md-36">flip</i>
    <i class="material-icons md-36">crop</i>
  </md-card-actions>
</md-card>

<div class="btn-operations">
  <button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-floppy-saved"></span> SAVE
  </button>
  <button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-share"></span> SHARE
  </button>
  <button (click)="uploader.queue[0].upload()" type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-upload"></span> UPLOAD
  </button>
  <div class="content">
    <label class="tag btn is-danger">
            <i class="fa fa-upload icon is-small"></i> Choose file
            <input type="file" [ng-file-select]="options" (onUpload)="handleUpload($event)">
          </label>
    <div class="progress">
      <div class="progress-bar" [style.width]="basicProgress + '%'"></div>
      <span class="percent">{{ uploadProgress }}%</span>
    </div>
  </div>
</div>

<div class="filter-container">
  <div *ngFor="let filter of filters" class="filters">
    <img src="../img/beach.png">
    <p>{{filter.name}}</p>
  </div>
</div>