<md-card class="main-image">
  <div *ngIf="selectedImage" class="images">
    <img class="img-responsive" md-card-image src={{selectedImage.original_image}}>
  </div>
  <div *ngIf="!selectedImage" class="drop-image" [ng-file-drop]="options" (onUpload)="handleDropUpload($event)">
    <span>Drop files here</span>
    <p>or</p>
    <button>SELECT FILE</button>
  </div>
  <div class="progress">
    <div class="progress-bar" [style.width]="dropProgress + '%'"></div>
    <span class="percent">{{ dropProgress }}%</span>
  </div>
  <md-card-actions>
    <i class="material-icons md-24">rotate_left</i>
    <i class="material-icons md-24">flip</i>
    <i class="material-icons md-24">crop</i>
  </md-card-actions>
  <div style="float:right;">
    <i class="fa fa-share-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
  </div>
  <div class="btn-operations">
    <div class="content">
      <label class="file-upload-label">
        <input type="file" [ng-file-select]="options" (onUpload)="handleUpload($event)">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true" ></span>Select Image
      </label>
      <div  class="progress">
        <div class="progress-bar"  [style.width]="uploadProgress + '%'"></div>
        <span  class="percent">{{ uploadProgress }}%</span>
      </div>
    </div>
  </div>
</md-card>



<div *ngIf="imageUploaded" class="filter-container">
  <div (click)="applyFilter(filter)" *ngFor="let filter of filters" class="filters">
    <img src="http://localhost:8000/{{filter.name}}">
    <p>{{filter.effect}}</p>
  </div>
</div>