md-card {
    width: 49%;
    height: 150px;
    box-sizing: border-box;
    margin: 1px 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    border-style:solid;
    padding: 10px 0 10px 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    border: 15px solid rgba(0,0,0,.1);
    border-image: url('../img/1WlsT.png') 34% repeat;
    height: 507px;
    overflow-y: scroll;
}
.md-card-content p{
    text-align: center;
}
label{
    border: 1px solid grey;
    width: 100%;
    border-width:thin;
    display: inline-block;
    background: #568D8A;
    color: white;
    position: relative;
}
md-progress-circle {
    text-align: center;
    vertical-align: middle;    
}
.selected {
  border: 1px solid #73AFAD;
  box-shadow: 0 14px 28px #73AFAD, 0 10px 10px rgba(0,0,0,0.32);  
}
::-webkit-scrollbar {
    width: 14px;
    height: 18px;
    
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(86, 141, 138, 0.8);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: #568D8A;
}
.category-label span{
    top: 50%;
    line-height: 0px;
    left:100px;
    position: absolute;  
}
.category-label i{
    padding-left: 5px; 
    cursor: pointer;
}
.category-static{
    text-align: center;
}
.no-images{
    text-align: center;
}
.no-images img{
    height: 200px;
    width: 200px;
}
.no-images label{
    background: none;
    border: none;
    color: black;
}
