md-card {
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  width: 50%;
  margin: 2px auto;
}


.card-container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid grey;
    border-width:thin;
    height: 100%;
}

.md-card-content p{
    text-align: center;
}

.card-container label{
    border: 1px solid grey;
    width: 100%;
    border-width:thin;
    text-align: center;
    background: #D8D8D8;
}