.card-container {
    display: flex;
    flex-flow: row wrap;
    border-width:thin;
    vertical-align: top;
    text-align: center;
    
}
md-card {
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  width: 50%;
  margin: 5px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
md-card img{
  padding: 10px;
}

md-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

md-card #placeholder{
  width: 90px;
  height: 90px;
}
.card-container label{
    border: 1px solid grey;
    width: 100%;
    border-width:thin;
    text-align: center;
    background: #30414A;
    color: white;
}
.backgroundRed{
    background: #f6a375;
}
.selected {
  background-color: #f38446 !important;
    color: white;
  
  box-shadow: 0 14px 28px rgba(0,0,0,0.22), 0 10px 10px rgba(255,102,0, 0.5);  
}

.card-category{
    -webkit-transition: background 1.0s ease-in-out;
    -ms-transition:     background 1.0s ease-in-out;
    transition:         background 1.0s ease-in-out;
}