<div class="card-container">
    <label>Categories</label>
    <md-card [class.selected]="category === categorySelected" class="card-category" (blur)="resetCategories($event);" (click)="selectCategory(category)" *ngFor="let category of categories">
        <img class="img-circle" id="placeholder" md-card-image [alt]="category.name" src="../img/{{category.image}}">
        <md-card-content>
            <p>{{category.name}}</p>
        </md-card-content>
    </md-card>
    <ng2-toasty></ng2-toasty>
</div>