<md-toolbar color="primary">
  <span>Picfect</span>
  <span class="fill-space"></span>
  <span id="user-name">Jack Mwangi</span>
  <div class="dropdown pull-right">
    <img class="img-circle dropdown-toggle" data-toggle="dropdown" src="/img/user_white.png">    
    <ul class="dropdown-menu">
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</md-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 no-float">
      <app-gallery [categoryName]="categoryName" (imageSelect)="imageSelect($event);"></app-gallery>
    </div>

    <div class="col-md-6 no-float">
      <app-canvas (imageReady)="imageReady($event);" [selectedImage]="selectedImage"></app-canvas>
    </div>

    <div class="col-md-3 no-float">
      <app-categories></app-categories>
    </div>
  </div>
</div>